{% load static %}

{% extends 'account/base/dashboard.html' %}
{% block content %}
<div class="container">
    <div class="card shadow">
        <div class="card-header d-flex justify-content-between">
            <h5>{{ device.name }}</h5>
            <span class="badge bg-success">{{ device.status }}</span>
        </div>
        <div class="card-body">
            <p><strong>Mã thiết bị:</strong> {{ device.device_code }}</p>
            <p><strong>Pin:</strong> {{ device.battery_level }}%</p>
            <p><strong>Vị trí:</strong> {{ device.location or "Chưa cập nhật" }}</p>
        </div>
    </div>
</div>
{% endblock %}